@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
  body{
    @apply font-body text-almostblack;
  }
  h1,h2,h3,h4,h5,h6{
    @apply font-heading;
  }
  h1, .heading1{
    @apply text-[30px]/[34.5px] font-bold;
  }
  h2{
    @apply text-[28px] font-bold;
  }
  a{  
    @apply font-bold text-darkblue underline;
    @apply hover:bg-darkblue hover:text-white hover:shadow-[0_0_0_.25rem_#004785];
    @apply active:bg-darkblue active:text-white active:shadow-[0_0_0_.25rem_#004785];
    @apply focus:bg-yellow focus:text-almostblack focus:shadow-[0_0_0_.25rem_#fdd522] focus:outline-none;

  }
  p{
    @apply text-[16px] font-normal;
  }
  label{
    @apply text-[20px] font-bold;
  }
  /* input text boxes */
  input[type="text"], input[type="number"], textarea{
    @apply text-[20px]/[23px] font-normal px-4 py-3;
  }


 
  
  .aliss-map h3.service-title{
    @apply text-[24px] font-black text-darkblue;
  }
  .aliss-map h3.service-title a{
    @apply no-underline;
    @apply hover:bg-darkblue hover:text-white hover:shadow-[0_0_0_.25rem_#004785];
  }
  
  .aliss-map .results-list{
    max-height: 97vh;
  }
  .aliss-map .results-list .location-map-link .pinsvg{
    @apply fill-darkblue;
  }
  
  .aliss-map .pagination-controls button {
    font-size: 20px;
    min-width: 100px;
    padding: 8px 16px;
    border: 2px solid white;
    background-color: #004785;
    color: white;
    cursor: pointer;
    transition: all 0.2s ease;
  }
  
  .aliss-map .pagination-controls button:hover:not(:disabled) {
    background-color: #004785;
    color: white;
  }
  
  .aliss-map .pagination-controls button:focus {
    background-color: #fdd522;
    color: #212121;
    border-color: #212121;
    outline: none;
  }
  
  .aliss-map .pagination-controls button:disabled {
    background-color: #D9D9D9;
    color: #212121;
    border-color: #D9D9D9;
    cursor: not-allowed;
  }
  
  .aliss-map .pagination-controls span {
    font-size: 16px;
    margin: 0 5px;
  }
}

.aliss-map  .aliss-search-button{
  @apply text-[20px] font-bold min-w-[150px] px-[32px]  border-2 border-darkblue bg-darkblue text-white hover:bg-almostblack hover:border-almostblack focus:text-almostblack focus:bg-yellow focus:border-almostblack focus:outline-none;

}
.aliss-map  #aliss-postcode, .aliss-map #aliss-q{
  @apply font-body font-normal text-base mr-5 ;
}
